.education__title {
  text-align: center;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.37;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .education__title {
    font-size: 24px;
  }
}

@media screen and (min-width: 1110px) {
  .education__title {
    font-size: 36px;
    line-height: 1.88;
  }
}
