.education__button-container {
  display: flex;
  width: 288px;
  height: 40px;
  align-items: center;
  margin: 16px auto 0;
  justify-content: center;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #e0f0ff;
}

@media screen and (min-width: 768px) {
  .education__button-container {
    width: 450px;
    height: 44px;
    border-radius: 10px;
    margin: 30px auto 0;
  }
}
@media screen and (min-width: 1110px) {
  .education__button-container {
    width: 540px;
    height: 60px;
    margin: 30px auto 0;
  }
}
