.education__button {
  text-align: center;
  width: 50%;
  margin: 0;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  padding: 12px 0;
  box-sizing: border-box;
  text-transform: uppercase;
  height: 100%;
}

@media screen and (min-width: 768px) {
  .education__button {
    font-size: 14px;
    line-height: 1.35;
  }
}
@media screen and (min-width: 1110px) {
  .education__button {
    font-size: 18px;
    line-height: 1.66;
  }
}
