.education__container {
  background-color: #FFFFFF;
  border-radius: 10px;
  display: flex;
  margin: 0 auto;
  flex-direction: column-reverse;
  align-items: center;
  padding: 16px;
}

@media screen and (min-width: 760px) {
  .education__container {
    flex-direction: row;
    justify-content: space-between;
    width: 690px;
    padding: 20px;
    margin: 0 auto 30px;
  }
}

@media screen and (min-width: 1110px) {
  .education__container {
    padding: 30px;
    box-sizing: border-box;
    margin-bottom: 35px;
    width: 100%;
  }
}
