.education__image {
  min-width: 256px;
  max-width: 320px;
  height: auto;
  width: 100%;
  object-fit: cover;
}

@media screen and (min-width: 760px) {
  .education__image {
    max-width: 280px;
  }
}

@media screen and (min-width: 1110px) {
  .education__image {
    max-width: 445px;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    overflow: hidden;
  }
}
